ion-content {
    --background: #e5e3df; /*Color tierra suave de fondo*/
}

#mapId {
    width: 100%;
    height: 100;
    z-index: 1;
}

ion-toolbar {
    --background: rgba(255, 255, 255, 0.9);
}

.header-map {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;

    .icon {font-size: 1.5rem; }
    .title {
        font-family: var(--font-header);
        font-weight: 800;
        color: #333;
        text-transform: uppercase;
        letter-spacing: 1px;
    
    }
}
