<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    
    <!-- IZQUIERDA: LOGO FIJO -->
    <div class="logo-container" slot="start">
      <img [src]="logoPrincipal" alt="Logo Calvillo" class="main-logo">
      <div class="text">
        <span class="brand">Calvillo</span>
        <span class="sub">Pueblo Mágico</span>
      </div>
    </div>

    <!-- DERECHA: BOTONES -->
    <ion-buttons slot="end">
      
      <!-- Botón Idioma -->
      <ion-button (click)="showLanguageMenu()" class="btn-lang">
        <ion-icon name="globe-outline" style="margin-right: 5px;"></ion-icon>
        IDIOMA ▾
      </ion-button>

      <!-- BOTÓN CAMBIO DE TEMA -->
      <ion-button (click)="toggleDark()" class="btn-mode-img">
        <img [src]="darkMode ? botonNoche : botonDia" alt="Tema">
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="main-content">
  
  <!-- SECCIÓN HERO (Imagen de fondo y Título) -->
  <!-- SECCIÓN HERO (Portada) -->
  <div class="hero">
    <div class="hero-overlay"></div>
    <div class="hero-content">
      
      <!-- Título Principal -->
      <h1>Descubre Calvillo</h1>
      
      <!-- Descripción -->
      <p class="subtitle">La Capital Mundial de la Guayaba</p>
      
      <!-- Donde estaba el buscador, ponemos este distintivo bonito -->
      <div class="badge-container">
        <span class="magic-badge">✨ Pueblo Mágico ✨</span>
      </div>

    </div>
  </div>

  <!-- GRID DE CATEGORÍAS (Botones de colores) -->
  <div class="main-container">
    <ion-grid>
      <ion-row>
        <!-- Generamos los botones automáticamente con la lista -->
        <ion-col size="6" size-md="4" *ngFor="let cat of catList">
          
          <!-- Al hacer clic, abre la LISTA de lugares -->
          <div class="cat-card {{cat.style}}" (click)="openModal(cat.key)">
            <span class="emoji">{{ cat.icon }}</span>
            <div class="cat-title">{{ texts[cat.key]?.title || cat.key | titlecase }}</div>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>