<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Tu Ruta Ideal 📍</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="header-section">
    <h2>Hola, Viajero</h2>
    <p>Basado en tus gustos: <br>
      <span class="tag" *ngFor="let gusto of misIntereses">#{{gusto}} </span>
    </p>
  </div>

  <!-- Aquí usamos tu componente de lista para mostrar los resultados -->
  <!-- Esto muestra los lugares que Python encontró -->
  <div class="results-container">
    <app-list-modal 
      [categoryTitle]="'Recomendado para ti'" 
      [items]="rutaSugerida">
    </app-list-modal>
  </div>

  <!-- Si no hay coincidencias -->
  <div *ngIf="rutaSugerida.length === 0" class="empty-state">
    <p>No encontramos lugares exactos para tus gustos hoy. 🐢</p>
  </div>

</ion-content>