<ion-content class="login-content">
  <div class="bg-overlay"></div>
  <div class="login-container">
    <div class="card-login">
      <div class="header">
        <div class="logo-circle">
          <img src="assets/logo.jpeg" alt="Logo GoLocal" class="login-logo">
        </div>
        <h1>¡Hola de nuevo!</h1>
        <p>Explora la magia de Calvillo</p>
      </div>

      <div class="form">
        <div class="input-group">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-input placeholder="Correo electrónico" type="email" [(ngModel)]="credenciales.email"></ion-input>
        </div>
        <div class="input-group">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-input placeholder="Contraseña" type="password" [(ngModel)]="credenciales.password"></ion-input>
        </div>

        <div class="forgot"><a>¿Olvidaste tu contraseña?</a></div>

        <!-- BOTÓN BLOQUEADO: Sin routerLink, llama a la función ingresar() -->
        <ion-button expand="block" class="login-btn" (click)="ingresar()">
          INICIAR SESIÓN
        </ion-button>

        <div class="divider"><span>o conecta con</span></div>
        <div class="social-login">
          <ion-button fill="clear" class="social-btn google"><ion-icon name="logo-google"></ion-icon></ion-button>
          <ion-button fill="clear" class="social-btn facebook"><ion-icon name="logo-facebook"></ion-icon></ion-button>
        </div>
      </div>

      <div class="footer">
        ¿No tienes cuenta? <strong routerLink="/register">Regístrate aquí</strong>
      </div>
    </div>
  </div>
</ion-content>