/* =============================================
   TEMA GOLOCAL - CONFIGURACIÓN FORZADA
   ============================================= */

/* 1. MODO CLARO (POR DEFECTO) */
/* Esto asegura que SIEMPRE sea blanco al inicio, sin importar tu Windows */
:root {
  /* Fondo BLANCO PURO */
  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255, 255, 255;
  
  --ion-text-color: #000000;
  --ion-text-color-rgb: 0, 0, 0;

  --ion-item-background: #ffffff;
  --ion-card-background: #ffffff;

  /* TUS COLORES PUEBLOS MÁGICOS */
  --pm-pink: #E4007C;
  --pm-purple: #92278F;
  --pm-blue: #0095DA;
  --pm-green: #50B848;
  --pm-orange: #F58220;
  --pm-red: #E30613;

  /* FUENTES */
  --font-main: 'Lato', sans-serif;
  --font-header: 'Montserrat', sans-serif;

  /* IONIC DEFAULT COLORS (Para que no fallen botones) */
  --ion-color-primary: #E4007C;
  --ion-color-primary-rgb: 228, 0, 124;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade: #c9006d;
  --ion-color-primary-tint: #e71a89;
}

/* 2. MODO OSCURO (SOLO SE ACTIVA CON LA CLASE .dark) */
body.dark {
  /* Fondo NEGRO PURO */
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-item-background: #1e1e1e;
  --ion-card-background: #1e1e1e;
  
  --ion-toolbar-background: #1f1f1f;
  --ion-tab-bar-background: #1f1f1f;
}
/* Importar estilos de Leaflet para que el mapa no se rompa */
@import 'leaflet/dist/leaflet.css';
/* Que el mapa ocupe todo el espacio disponible */
#mapId { /* O el nombre que le hayas puesto al div del mapa, a veces es 'map' */
  width: 100%;
  height: 100%;
}

/* Corrección para que los controles del mapa se vean bien en Ionic */
.leaflet-pane, 
.leaflet-tile, 
.leaflet-marker-icon, 
.leaflet-marker-shadow, 
.leaflet-tile-container, 
.leaflet-pane > svg, 
.leaflet-pane > canvas, 
.leaflet-zoom-box, 
.leaflet-image-layer, 
.leaflet-layer {
  position: absolute;
  left: 0;
  top: 0;
}